<h3>Hyper Signup</h3>

<form method="post" action="/hyper-signup">
  <b>Hyperlinc ID: {{hyperlincId}}</b>
  <input type="hidden" name="hlid" value="{{hyperlincId}}"/>
  <dl>
    <dt>Real Name:</dt>
    <dd>{{hlProfile.realname}}</dd>
    <dt>Email:</dt>
    <dd>{{hlProfile.email}}</dd>
  </dl>
  <p>
    <label for="login-input-username">Username</label><br/>
    <input id="login-input-username" type="text" name="username"/>
  </p>
  {{!-- <p>
    <label for="login-input-password">Password: </label><br/>
    <input id="login-input-password" type="password" name="password"/>
  </p> --}}
  <button type="submit" class="btn btn-primary">SIGNUP</button>
</form>

<h4>hyperlinc profile</h4>
<pre>{{toJSON hlProfile}}</pre>

<h4>hyperlinc status</h4>
<pre>{{toJSON hyperlincStatus}}</pre>
