<div class="page centered">
  {{#if currentUser}}
    <h2>
      Welcome back
      {{#if currentUser.username}}
        @{{currentUser.username}}
      {{else}}
        User #{{currentUser.id}}
      {{/if}}
    </h2>
    <ul>
      <li>
        <a href="/logout">logout</a>
      </li>
      {{!-- <li>
        <a href="/@{{currentUser.username}}">profile</a>
      </li> --}}
    </ul>

  {{else}}
    <h1>Welcome</h1>
    <div><a class="button" href="/signup">signup</a></div>
    <div style="margin-top: 10px"></div>
    <div><a class="button" href="/login">login</a></div>
  {{/if}}

  {{!-- <a href="/dids/resolve">resolve a did</a> --}}
</div>

<hr/>

<h5>Other Apps</h5>
<ul>
  {{#each otherSites}}
    <li>
      <a href="https://{{domain}}">{{name}} - {{domain}}</a>
      {{#if ../currentUser}}
        <span> | </span>
        <form method="post" action="/login-to-site/{{domain}}" style="display: inline">
          <a href="/login" onclick="this.parentElement.submit(); return false">login</a>
        </form>
      {{/if}}
    </li>
  {{/each}}
</ul>


<h5>Users</h5>
<ul>
  {{#each users}}
    <li>
      <a href="/@{{username}}">@{{username}}</a>
      <span> - </span>
      <a href="/@{{username}}">{{realname}}</a>
      {{!-- <span> - </span>
      <form method="post" action="/login" style="display: inline">
        <input type="hidden" name="username" value="{{username}}"/>
        <a href="/login" onclick="this.parentElement.submit(); return false">login-as</a>
      </form> --}}
      {{!-- <span> - </span> --}}
      {{!-- <a href="/__hyperlinc/{{hyperlinc_id}}" class="truncate">{{hyperlinc_id}}</a> --}}
    </li>
  {{else}}
    <i>no users :(</i>
  {{/each}}
</ul>

{{!--

<h5>Hyperlinc Status</h5>
<p>Connected: {{#if hyperlincStatus.connected}}yes{{else}}no{{/if}}</p>
<p># of cores: {{hyperlincStatus.numberOfCores}}</p>
<p>CORES:<br/>{{toJSON hyperlincStatus.cores}}</p>
--}}
