<h1>@{{username}}</h1>

{{#if user}}
  <dl>
    <dt>Real Name:</dt>
    <dd>{{user.realname}}</dd>
    <dt>Email:</dt>
    <dd>{{user.email}}</dd>
    <dt>Jlinx AppUser Id:</dt>
    <dd>{{user.jlinxAppUserId}}</dd>
    <dt>Created:</dt>
    <dd>{{user.created_at}}</dd>
  </dl>

  {{#if itsUs}}
    <form method="post" action="/profile">
      <p>
        <label for="realname-input">Real Name</label><br/>
        <input
          id="realname-input"
          type="text"
          name="realname"
          value="{{currentUser.realname}}"
        />
      </p>
      <p>
        <label for="email-input">Email</label><br/>
        <input
          id="email-input"
          type="email"
          name="email"
          value="{{currentUser.email}}"
        />
      </p>
      <p>
        <button type="submit" class="btn btn-primary">UPDATE</button>
      </p>
    </form>
  {{/if}}

  {{#if appUser}}
    <h4>Jlinx App User</h4>
    <dl>
      <dt>AppUser Id:</dt>
      <dd>{{appUser.id}} / {{appUserId}}</dd>
      <dt>AppAccount Id:</dt>
      <dd>{{appUser.appAccountId}}</dd>
    </dl>
  {{/if}}

{{else}}
  <i>user not found</i>
{{/if}}
