<h1>@{{username}}</h1>

{{#if user}}
  {{#if itsUs}}
    <dl>
      <dt>Hyperlinc ID:</dt>
      <dd>{{user.hyperlinc_id}}</dd>
      <dt>Jlinc DID:</dt>
      <dd>{{user.jlinc_did}}</dd>
    </dl>


    <form method="post" action="/profile">
      <p>
        <label for="realname-input">Real Name</label><br/>
        <input
          id="realname-input"
          type="text"
          name="realname"
          value="{{currentUser.realname}}"
        />
      </p>
      <p>
        <label for="email-input">Email</label><br/>
        <input
          id="email-input"
          type="email"
          name="email"
          value="{{currentUser.email}}"
        />
      </p>
      <p>
        <button type="submit" class="btn btn-primary">UPDATE</button>
      </p>
    </form>
  {{else}}
    <dl>
      <dt>Real Name:</dt>
      <dd>{{user.realname}}</dd>
      <dt>Email:</dt>
      <dd>{{user.email}}</dd>
      <dt>Created:</dt>
      <dd>{{user.created_at}}</dd>
    </dl>
  {{/if}}

  <h4>Hyperlinc Events</h4>
  {{#each hyperlincEvents}}
    <fieldset>
      <legend>{{eventType}}</legend>
      {{at}}
      <pre>{{toJSON this}}</pre>
    </fieldset>

  {{/each}}

{{else}}
  <i>user not found</i>
{{/if}}
