<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="/almond.css"/>
    <link type="text/css" rel="stylesheet" href="/base.css"/>
    <style>
      :root {
        --app-color: {{appColor}};
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <a class="appname" href="/"><h3>{{appName}}</h3></a>
      </nav>
    </header>
    <aside>
      <nav>

      </nav>
    </aside>
    <main>
      {{{body}}}
    </main>
    <footer>
      Copyright {{appName}} © 2020
    </footer>
  </body>
</html>

